<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!-- 服务Url -->
    <add key="ServerUrl" value="http://localhost:8080"/>
    <!-- 项目信息 -->
    <add key="ProjectInfo" value=""/>
    <!-- 中心数据库连接信息 -->
    <add key="ConnectionString" value="{&quot;ip&quot;:&quot;127.0.0.1&quot;,&quot;port&quot;:3306,&quot;userName&quot;:&quot;jieLink&quot;,&quot;password&quot;:&quot;js*168&quot;,&quot;dbName&quot;:&quot;db_newg3_main&quot;}"/>
    <!-- 电脑内存阈值 95%-->
    <add key="MemoryThreshold" value="95"/>
    <!-- 电脑CPU阈值 80%-->
    <add key="CpuThreshold" value="80"/>
    <!-- SmartCenter内存阈值 1024M-->
    <add key="ProcessMemoryThreshold" value="1024"/>
    <!-- SmartCenterCPU阈值 80%-->
    <add key="ProcessCpuThreshold" value="80"/>
    <!-- 检测升级的cron表达式 -->
    <add key="CheckUpdateJob" value="0 0 3 * * ?"/>
    <!-- 启动程序检测升级的cron表达式 -->
    <add key="CheckUpdateOnStartupJob" value="*/10 * * * * ?"/>
    <!-- 数据库全库备份的cron表达式 -->
    <add key="DataBaseBackUpJob" value="00 00 03 ? * 4"/>
    <!-- 基础业务表备份的cron表达式 -->
    <add key="TablesBackUpJob" value="00 00 03 ? * 2,6"/>
    <!-- 定时清理备份文件的cron表达式 -->
    <add key="DeleteOverTimePackageJob" value="0 0 02 * * ?"/>
    
  </appSettings>
</configuration>