<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!-- 服务Url -->
    <add key="ServerUrl" value="http://localhost:8080"/>
    <!-- 项目信息 -->
    <add key="ProjectInfo" value=""/>
    <!-- 电脑内存阈值 95%-->
    <add key="MemoryThreshold" value="95"/>
    <!-- 电脑CPU阈值 80%-->
    <add key="CpuThreshold" value="80"/>
    <!-- SmartCenter内存阈值 1024M-->
    <add key="ProcessMemoryThreshold" value="1024"/>
    <!-- SmartCenterCPU阈值 80%-->
    <add key="ProcessCpuThreshold" value="80"/>
    <!-- 检测升级的cron表达式 -->
    <add key="CheckUpdateJob" value="0 0 3 * * ?"/>
    <!-- 启动程序检测升级的cron表达式 -->
    <add key="CheckUpdateOnStartupJob" value="*/10 * * * * ?"/>
  </appSettings>
</configuration>